html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

body {
	color: #292929;
	color: rgba(0, 0, 0, 0.82);
	font: normal 100% Cambria, Georgia, serif;
	-moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-size-adjust: none;
}

img {
	max-width: 100%;
	border: 0; width: 100%; display: block; 
	height: auto;
}
header {
	background: black;
	display: block;
    width: 100%;
	padding-top: 0px;
    height: auto;
	position: absolute;
}
.module {
  background: black;
  border: 1px solid #ccc;
  margin: 0%;
  > h2 {
    padding: 0rem;
    margin: 0 0 0.5rem 0;
  }
  > p {
    padding: 0 1rem;
	background: BLACK;
	text-align: right;
  }
  > div {padding: 0 1rem; display:inline-block; float:left; background: PURPLE;}
  > footer {padding: 0 1rem;}
  @media only screen and (max-width: 680px) {
    width:50% !important;
    height:50%;
  }
  @media only screen and (max-width: 320px) {
    width:40% !important;
    height:50%;
  }
}
#parent {
  border-style: dashed;
  border-width: 1px;
  padding: 5px;
  display:inline-block;
  background-color: #330033;
  float: right;
}
#parent2 {
  border-width: 0;
  display:inline-block;
  background-color: #6600FF;
}
#images {
float: left;
}
#images2 {
  display: inline-block; 
}
#images3 {
  display: inline-block; 
}
.clearBoth { clear:both; }
.stripe-2 {
  color: black;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #ccc 10px,
    #ccc 20px
  ),
  linear-gradient(
    to bottom,
    #eee,
    #999
  )
}


  *[class="mobile-stack"] {
    display:block !important;
  }
ul.egmenu {  
    background: #333; 
    height: 30px;
    width: 100%; 
}

ul.egmenu > li { 
    float: left; 
    position: relative;  
}

ul.egmenu ul {
    background: #444; 
    display: none; 
    position: absolute;
    left: 0; top: 100%;
}

ul.egmenu a { 
    cursor: pointer; 
    display: block; 
    color: white; 
    line-height: 30px; 
    padding: 0 10px; 
}

ul.egmenu li { list-style: none; }

ul.egmenu li:hover { background: #555;  }
ul.egmenu li:hover ul { display: block;  }
#nav {
	background: black;
	display: block;
    width: 100%;
	padding-top: 0px;
    height: auto;
	position: absolute;
}

#div1{
	background: #66CCCC;
	display: block;
	width: 100%;
    height: 300px;
	top: 100px;
}
#div2{
	background: #993366;
	display: block;
	width: 100%;
	position: absolute;
	height: 100px;
	bottom: 260px;
	-moz-transition: 0.2s color linear;
	-webkit-transition: 0.2s color linear;
	transition: 0.2s color linear;
}
#div3{
	background: #6600CC;
	width: 100%;
	position: absolute;
	height: 260px;
	bottom: 200;
}
#div2#container{
    width: 100%;	/* 633px / 960px */
	margin: 0;
	padding: 0;
	position: absolute;

}
#wrapper{
	width: 100%;
	height: 100%;
	margin: 10px 0 10px;
}
.footer {
    position:fixed;
   left:0px;
	bottom: 0;
    width: 100%;
    background: #C0C0C0;
    height: auto;
	margin: 0;
	padding: 0;
	
}
.leftColumn {  float: left;
    width: 50%; padding: 1.25em; margin-bottom: .5em; }
.rightColumn { float: right;
    width: 50%; padding: 1.25em;}
/* Flexnav Base Styles */
@media screen and (max-width: 980px) {

	/* pagewrap */
	#wrapper {
		width: 90%;
	}
    .footer {position:fixed;
   left:0px;
   bottom:0px;font-size: 70%}
   
}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {

	/* header */
	header {
		height: auto;
	}
	#wrapper {
		width: 70%;
	}

	.footer {position:fixed;
	width: 60%;
   left:0px;
   bottom:0px;font-size: 50%}

}

/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px) {

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}
    #wrapper	{
		width: 60%;
	}
	.footer {position:fixed;
	width: 40%;
   left:0px;
   bottom:0px;
   font-size: 40%}
 
   .leftColumn { }

   .rightColumn { float: left; width: auto; }
	
 
	 ul.egmenu {  height: auto; }
    ul.egmenu > li {  float: none; width: 0%; }
    ul.egmenu a { line-height: 40px; }
    ul.egmenu ul { position: relative; }

    ul.egmenu li.tap { background: #555;  }
    ul.egmenu li.tap ul { display: block;  }

    footer.footer {position:fixed;
   left:0px;
   bottom:0px;font-size: 20%}
#images2 {
  visibility: none;
width: 0%;  
}
#images3 {
  visibility: none; 
  width: 0%;
}
	}
@media all and (min-width: 481px) {
    ul.egmenu li:hover { background: #555;  }
    ul.egmenu li:hover ul { display: block;  }
	
#images2 {
  visibility: none;
width: 0%;  
}
#images3 {
  visibility: none; 
  width: 0%;
}
}