html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: 
  border-box; 
  box-sizing: border-box;
  }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

body {
	color: #292929;
	color: rgba(0, 0, 0, 0.82);
	font: normal 100% Cambria, Georgia, serif;
	-moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-size-adjust: none;
}
.sidh {
		
		width: 0%;
		visibility:hidden;
		position: fixed;
    top: 0;
    right: 0%;
    padding-right: 45px;
	}
#show_ul {
		display: block;
      
		width: 0%;
		visibility:none;
		position: fixed;
    top: 0;
    right: 0%;
    padding-right: 45px;
	}
	.sidul {
		
		width: 100%;
		position: fixed;
    top: 0;
    right: 0%;
    padding-right: 45px;
	}
	.sidul ul{float: left;
      display: block;
      background-color: #a6a6a2;
      overflow: visible;}
	.ver{
	position: relative;
  display: block;
  padding: 1em;
  background: black;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
img {
	max-width: 100%;
	border: 0; width: 100%; display: block; 
	height: auto;
}
header {
	background: black;
	display: block;
    width: 100%;
	padding-top: 0px;
    height: auto;
	position: absolute;
}
.module {
  background: black;
  border: 1px solid #ccc;
  margin: 0%;
  > h2 {
    padding: 0rem;
    margin: 0 0 0.5rem 0;
  }
  > p {
    padding: 0 1rem;
	background: BLACK;
	text-align: right;
  }
  > div{padding: 0 1rem; display:inline-block; float:left; background: PURPLE;}
  > footer{padding: 0 1rem;}
  @media only screen and (max-width: 680px) {
    width:70% !important;
    height:70%;
  }
  @media only screen and (max-width: 320px) {
    width:40% !important;
    height:50%;
  }
}
#parent {
  border-style: dashed;
  border-width: 1px;
  padding: 5px;
  display:inline-block;
  background-color: #330033;
  float: right;
}
#parent2 {
  border-width: 0;
  display:inline-block;
  background-color: #6600FF;
}
#images {
float: left;
}
#images2 {
  display: inline-block; 
}
#images3 {
  display: inline-block; 
}
.clearBoth { clear:both; }
.stripe-2 {
  color: black;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #ccc 10px,
    #ccc 20px
  ),
  linear-gradient(
    to bottom,
    #eee,
    #999
  )
}
.full-width {
  width: 100%;
 
  @media only screen and (max-width: 480px) {
    width:100% !important;
    height:auto;
  }
}
.two-col {
  width: 100%;
   background: #993366;
  @media only screen and (max-width: 320px) {
    width:50% !important;
    height:auto;
  }
}
.three-col {
  width: 400px;
  background: #6600CC;
  @media only screen and (max-width: 320px) {
    width:100% !important;
    height:auto;
  }
}
  *[class="mobile-stack"] {
    display:block !important;
  }
ul.egmenu {  
    background: #333; 
    height: 30px;
    width: 100%; 
}

ul.egmenu > li { 
    float: left; 
    position: relative;  
}

ul.egmenu ul {
    background: #444; 
    display: none; 
    position: absolute;
    left: 0; top: 100%;
}

ul.egmenu a { 
    cursor: pointer; 
    display: block; 
    color: white; 
    line-height: 30px; 
    padding: 0 10px; 
}

ul.egmenu li { list-style: none; }

ul.egmenu li:hover { background: #555;  }
ul.egmenu li:hover ul { display: block;  }
#nav {
	background: black;
	display: block;
    width: 100%;
	padding-top: 0px;
    height: auto;
	position: absolute;
}

#div1{
	background: #66CCCC;
	display: block;
	width: 100%;
    height: 300px;
	top: 100px;
}
#div2{
	background: #993366;
	display: block;
	width: 100%;
	position: absolute;
	height: 100px;
	bottom: 260px;
	-moz-transition: 0.2s color linear;
	-webkit-transition: 0.2s color linear;
	transition: 0.2s color linear;
}
#div3{
	background: #6600CC;
	width: 100%;
	position: absolute;
	height: 260px;
	bottom: 200;
}
#div2#container{
    width: 100%;	/* 633px / 960px */
	margin: 0;
	padding: 0;
	position: absolute;

}
#div2#sideLeft
{   background: black;
    float: right;
	margin: 0;
	padding: 0;
	position: absolute;
}
#wrapper{
	width: 100%;
	height: 100%;
	margin: 10px 0 10px;
}
#box {
	position: absolute;
	float: left;
	bottom: 176px;
    display: block;
	width: 160px;
    
}


#middle {
    position: relative;
}
#content {
    padding-top: 200px;
	position: relative;
	

	width: 460px;
	float: right;
}

#navlist{position:relative;}
#navlist li{margin:0;padding:0;list-style:none;position:absolute;top:0;}
#navlist li, #navlist a{height:44px;display:block;}

#next{left:129px;width:43px;}
footer {
    position:fixed;
   left:0px;
	bottom: 0;
    width: 100%;
    background: #C0C0C0;
    height: auto;
	margin: 0;
	padding: 0;
	
}
footer .leftColumn {  float: left;
    width: 50%; padding: 1.25em; margin-bottom: .5em; }
footer .rightColumn { float: right;
    width: 50%; padding: 1.25em;}
.sid {
		width: 0%;
		visibility:none;
	}
/* Flexnav Base Styles */
@media screen and (max-width: 980px) {

	/* pagewrap */
	.sid {
		width: 0%;
		visibility:none;
	}
    .sidh {
		
		width: 0%;
		visibility:none;}
	/* content */
	.content {
		width: 60%;
		padding: 3% 4%;
	}

	/* sidebar */
	.sidebar {
		width: 30%;
	}
	#sidebar .widget {
		padding: 8% 7%;
		margin-bottom: 10px;
	}
    footer {position:fixed;
   left:0px;
   bottom:0px;font-size: 70%}
   img {
	max-width: 90%;
	border: 0; width: 90%; display: block; 
	height: auto;
}
    #images2 {
		width: 60%;
		height: auto;
	}
	#images3 {
		width: 60%;
		height: auto;
	}
   
}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {

	/* header */
	header {
		height: auto;
	}
	.sidh {
		
		width: 100%;
		visibility:visible;
		position: fixed;
    top: 0;
    right: 0%;
    padding-right: 45px;
	}
	/* main nav */
	.sid {
		float: right;
		width: 100%;
		visibility:show;
	}
	.main{
		position: static;
	}

	/* site logo */
	#site-logo {
		margin: 15px 100px 5px 0;
		position: static;
	}


	/* content */
	.content {
		width: 30%;
		float: none;
		margin: 20px 0;
	}

	/* sidebar */
	.sidebar {
		width: 10%;
		margin: 0;
		float: none;
	}
	.menu{font-family: 'trebuchet ms', sans-serif;
  font-size: 60%;}
	#sidebar .widget {
		padding: 3% 4%;
		margin: 0 0 10px;
	}
	footer {position:fixed;
   left:0px;
   bottom:0px;font-size: 50%}
  #images2 {
		width: 0%;
		visibility:none;
	}
	#images3 {
		width: 0%;
		visibility:none;
	}
	img {
	max-width: 0%;
	border: 0; width: 0%; display: block; 
	height: auto;
}

}

/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px) {

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}
	.sid {
		width: 100%;
		visibility:show;
	}
	footer {font-size: 30%}
	.sidh {
		
		width: 100%;
		visibility:visible;
		position: fixed;
    top: 0;
    right: 0%;
    padding-right: 45px;
	}
	.menu{font-family: 'trebuchet ms', sans-serif;
  font-size: 50%;}
	.site_content
	{width: 0%;}
    .sidebar {
		width: 50%;
		visibility:show;
	}
	.content {
		width: 50%;
		float: none;
		margin: 20px 0;
	}
	/* main nav */
	#main a {
		font-size: 90%;
		padding: 10px 8px;
	
	

}
footer.leftColumn { }

footer.rightColumn { float: none; width: auto; }
#nav{}
.menuone{visibility:show;top: 0;
    right: 0%;}
	
 
	 ul.egmenu {  height: auto; }
    ul.egmenu > li {  float: none; width: 0%; }
    ul.egmenu a { line-height: 40px; }
    ul.egmenu ul { position: relative; }

    ul.egmenu li.tap { background: #555;  }
    ul.egmenu li.tap ul { display: block;  }

    footer {position:fixed;
   left:0px;
   bottom:0px;font-size: 20%}
   #images2 {
		width: 0%;
		visibility:none;
	}
	#images3 {
		width: 0%;
		visibility:none;
	}
	}
@media all and (min-width: 481px) {
    ul.egmenu li:hover { background: #555;  }
    ul.egmenu li:hover ul { display: block;  }
}